body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

table {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

#results {
    display: flex;
    flex-wrap: wrap;
}

.result {
    width: 200px;
}

.result img {
    width: 200px;
    height: 200px;
}

#label {
    display: inline-flex;
    align-items: center;

    margin-right: 5px;
}

#inputBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100%-30px);
    margin: auto;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
    padding: 15px;
}

textarea {
    height: 54.4px;
    width: 250px;
}

input {
    height: 60px;
    width: 100px;
}

.error {
    max-width: 300px;
}